{{ define "content" }}
    <div class="container">
        <h1 class="title is-1">
            Sign Up
        </h1>
        <form action="{{ .Form.Action }}" method="post">
            {{ range .Form.Fields }}
                <div class="field">
                    <label class="label">{{.Name}}</label>
                    <div class="control">
                        <input class="input"
                               name="{{.Name}}"
                               {{if .Pattern}} pattern="{{.Pattern}}" {{end}}
                               required="{{.Required}}"
                               type="{{.Type}}"
                               value="{{.Value}}"
                                {{if .Disabled}} disabled {{end}}
                        >
                    </div>
                    {{ range .Errors }}
                        <p class="help is-danger">{{ .Message }}</p>
                    {{ end }}
                </div>
            {{ end }}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Sign up</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container links">
        <a href='/auth/signin'>
            Already have an account? Sign in instead
        </a>
    </div>
{{ end }}
