{{ define "content" }}
    <div class="container">
        <h1 class="title is-1">
            Sign In
        </h1>
        <form action="{{ .Form.Action }}" method="post">
            {{ range .Form.Fields }}
                <div class="field">
                    <label class="label">{{.Name}}</label>
                    <div class="control">
                        <input class="input"
                               name="{{.Name}}"
                               pattern="{{.Pattern}}"
                               required="{{.Required}}"
                               type="{{.Type}}"
                               value="{{.Value}}"
                                {{if .Disabled}} disabled {{end}}
                        >
                    </div>
                </div>
            {{ end }}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Sign in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container links">
        <a href='/auth/signup'>
            Sign up now
        </a>
    </div>
{{ end }}
